@import './variables.scss';

/*
 * HELPERS
 * General utility classes
 * ========================================================================== */

/*
 * #NO-SCROLL
 * ========================================================================== */

html, body {
  .no-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  .no-scroll-mobile {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    @media (min-width: $screen-sm-min) {
      position: inherit;
      height: inherit;
      overflow: inherit;
    }
  }
}

/*
 * #CONTAINER
 * ========================================================================== */

.container {
  lost-utility: clearfix;

  width: 100%;
  margin: 0 auto;
  padding-left: $spacing-md-rem;
  padding-right: $spacing-md-rem;
}

.container--sm {
  max-width: $container-width-sm;
}

.container--md {
  max-width: $container-width-md;
}

.container--lg {
  max-width: $container-width-lg;
}

.container--xlg {
  max-width: $container-width-xlg;
}

.container--line {
  border-top: 1px solid $colour-grey-lighter;
  border-bottom: 1px solid $colour-grey-lighter;
}

/*
 * #BUTTON
 * ========================================================================== */

.button {
  position: relative;
  background-color: $colour-black;
  padding: $spacing-xxxs $spacing-xs;
  font-family: "Circular-Medium";
  line-height: 3;

  &:link, &:visited {
    color: $colour-white;
    text-decoration: none;
  }

  /* TODO: Create mixin */
  &:after {
    top: 0;
    right: -0.77em;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-left: 0.7828em solid $colour-black;
    border-bottom: 2.06em solid transparent;
  }
}

.button--sm {
  font-size: $font-size-sm;
}

.button--is-breakout {
  position: absolute;
  bottom: -0.60em;
  left: 0;
  line-height: 1.2;
}

/*
 * #LOZENGE-BUTTON
 * ========================================================================== */

.lozenge-button {
  display: inline-block;
  margin-bottom: $spacing-xlg;
  padding: $spacing-xs 3em;
  background-color: $colour-pink;
  border-radius: $spacing-xlg;
  cursor: pointer;
  color: $colour-white;
  font-size: $font-size-sm;
  font-family: "Circular-Medium";
  text-align: center;
  transition: 0.3s;
  text-decoration: none;

  &:link, &:visited {
    color: $colour-white;
  }

  &:hover, &:active, &:focus {
    background-color: $colour-black;
  }
}

/*
 * #TILE-IMAGE-TAG
 * ========================================================================== */

.tile-image-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: $spacing-xxs $spacing-xs $spacing-xs $spacing-xxs;
  line-height: 1;
  font-size: $font-size-xs;
  font-family: "Circular-Bold";
  background-color: $colour-black;
  color: $colour-white;
  text-decoration: none;

  &:before {
    top: 0;
    left: -0.77em;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-right: 0.7828em solid $colour-black;
    border-top: 2.26em solid transparent;
  }
}

/*
 * #TOGGLE-BUTTON
 * ========================================================================== */

.toggle-button {
  padding: 0;
  font-size: $font-size-xs;
  color: $colour-pink;
  text-decoration: none;
}

/*
 * #SECTION
 * ========================================================================== */

.section {
  lost-utility: clearfix;

  padding: $spacing-lg 0 $spacing-lg;
}

.section--alt {
  // background-image: url('/assets/images/bg-lines@2x.gif');
  // background-size: 4px 11px;
  background-color: $colour-grey-lightest;
}

.section--dividers {
  border-top: 6px solid $colour-grey-lightest;
  // border-bottom: 3px solid $colour-grey-lightest;
}

  .section__title {
    margin-top: 0.3em;
    margin-bottom: $spacing-xs;
    font-family: 'Circular-Black';
    font-size: $font-size-lg;
    text-transform: uppercase;
    letter-spacing: -0.02em;

    @media(min-width: $screen-sm-min) {
      font-size: $font-size-lg;
    }
  }

/*
 * #COLS
 * ========================================================================== */

.cols {
  lost-utility: clearfix;


  @media(min-width: $screen-sm-min) {
    display: flex;
    justify-content: center;
  }
}

  .cols__main {

    @media(min-width: $screen-sm-min) {
      lost-column: 2/3 0 $spacing-xxxxlg flex;
    }
  }

  .cols__aside {

    @media(min-width: $screen-sm-min) {
      lost-column: 1/3 0 $spacing-xxxxlg flex;
    }
  }

/*
 * #BREAKOUT
 * ========================================================================== */

.breakout {
  line-height: $line-height-sm;
  font-size: $font-size-xlg;
  font-family: 'Circular-Black';
  text-align: center;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;

  em {
    font-style: normal;
    color: $colour-pink;
  }

  &:first-child {
    margin-top: 0;
  }
}

.breakout--align-left {
  text-align: left;
}

/*
 * Javascript states
 * ========================================================================== */

.is-hidden {
  display: none;
}
