///
/// MAAS Gallery Guide - Layout styles
/// developer@maas.museum
///

@import '../core/variables.scss';

$colour-black: #000;

.guide-app {
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
}

.guide-app__header,
.guide-app__footer {
  flex: none; /* 2 */
}

.guide-app__wrapper {
  background: rgba(0,0,0,0.03);
  min-height: 100vh;
  min-width: $screen-xs-min;

  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
}

// .guide-app__content {
//   margin-top: $spacing-md;
// }

.guide-app__sidenav {
  order: -1;
}

.guide-app__sidenav,
.guide-app__sidepanel {
  background: #fff;
}

.guide-app__sidepanel {
  background-color: $colour-black;
  @media (min-width: $screen-xs-min) {
    display: none;
  }
}

@media (min-width: $screen-lg-min) {
  .guide-app__wrapper {
    flex-direction: row;
    padding: 1em;
  }

  .guide-app__content{
    flex: 1;
    padding: 0 $spacing-lg;
    margin: 0;
  }

  .guide-app__sidenav {
    flex: 0 0 4em;
    border-right: 1px solid rgba(0,0,0,.08);
  }

  .guide-app__sidepanel {
    display: block;
    flex: 0 0 22em;
  }
}
