///
/// MAAS Gallery Guide - Layout styles
/// developer@maas.museum
///

@import '../core/variables.scss';

$colour-black: #000;

.guide-app {
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
}

.guide-app__header,
.guide-app__footer {
  flex: none; /* 2 */
}

.guide-app__wrapper {
  background: $colour-black;
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  align-items: stretch;
  // ipadPro landscape
  @media(max-height: $screen-md-min) {
    min-height: 100vh;
  }
}

.guide-app__sidenav {
  order: -1;
}

.guide-app__sidepanel {
  padding: $spacing-md 0;

  ul.sidepanel__content {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    list-style-type: none;
    color: $colour-white;

    h1, h2, h3, h4, h5, h6 {
      color: $colour-white;
    }

    > li {
      padding: $spacing-sm 0;
    }

    .sidepanel__top-title { line-height: 3.35rem !important; }
    .sidepanel__description { line-height: 4.525rem !important; }
    .sidepanel__date-text { color: $colour-white; }
  }

  .sidepanel__logo {
    align-self: flex-end;
    margin: 0 $spacing-sm;

    svg {
      fill: $colour-white;
      height: 60px;
    }
  }

  // hide it for most screens (xs, sm, md)
  display: none;

  .view-guide a {
    color: $colour-white;
  }
}

@media (min-width: $screen-lg-min) {
  .guide-app__wrapper {
    flex-direction: row;
    padding: 1em;
  }

  .guide-app__content{
    flex: 1;
    padding-right: $spacing-lg;
    margin: 0;
  }

  .guide-app__sidenav {
    flex: 0 0 4em;
    border-right: 1px solid rgba(0,0,0,.08);
  }

  // display sidepanel for lg
  .guide-app__sidepanel {
    display: flex;
    flex: 0 0 20em;
    flex-direction: column;
    justify-content: space-between;
  }
}

.audio-container {
  position: sticky;
  bottom: 0;
  background: $colour-dark;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs;
  height: 114px;

  &.inactive {
    height: 0;
    background: none;
  }

  .controls-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: $spacing-sm;

    button {
      padding: 0;
      height: auto;
      border: 1px solid $colour-white;

      &.play-pause {
        padding: $spacing-xs $spacing-md;

        img {
          width: 40px;

          &.pause {
            padding: 6px;
          }

          &.play {
            padding-top: 3px;
          }
        }
      }
    }
  }

  .seeker-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $colour-white;
    height: 100%;
    width: 80%;

    input[type="range"] {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $colour-black;
      -webkit-appearance: none;

      &::-webkit-slider-thumb {
        visibility: hidden;
        background: $colour-grey;
      }

      &::before {
        position: absolute;
        content: "";
        left: 0;
        height: 100%;
        width: var(--seeker-width);
        background-color: $colour-grey-dark;
      }

    }

    .title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      pointer-events: none;
    }

    .elapsed, .duration {
      position: absolute;
      z-index: 1;
      pointer-events: none;
      margin: $spacing-md;
    }

    .elapsed {
      left: 0
    }

    .duration {
      right: 0
    }
  }
}
