///
/// MAAS Gallery Guide - Page styles
/// developer@maas.museum
///

/* Page */
@import '../core/variables.scss';

$content-height-min: 1040px;

// MSIE: Required for IEMobile.
  @-ms-viewport {
    width: device-width;
  }

// MSIE: Prevents scrollbar from overlapping content.
  body {
    -ms-overflow-style: scrollbar;
  }

  body {
		// Prevents animation/transition "flicker" on page load.
		// Automatically added/removed by js/main.js.
		&.is-loading {
			*, *:before, *:after {
				@include vendor('animation', 'none !important');
				@include vendor('transition', 'none !important');
			}
		}
	}

  // for fitting in ipad-pro - portrait
  main { min-height: $content-height-min }

  /*------------------------------------*\
      #ALL-PAGE
  \*------------------------------------*/

  /* Body */
  .all-page__body {
    lost-utility: clearfix;

    min-height: 20em;
    padding-top: $spacing-md;
  }

  .all-page__content-title {
    float: left;
  }

  .all-page__content {
    lost-utility: clearfix;
  }

  /*------------------------------------*\
      #CONTENT
  \*------------------------------------*/

  .content-header {
    padding-bottom: 1em;
  }

  .footer-content {
    lost-column: 1;
  }

  // object page
  .object-page {
    .main-content, .content-related {
      padding-left: $spacing-sm !important;
    }

    .object-page__credit-line, .object-page__significance-statement {
      font-size: 0.7rem;
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: 1023px) {
    .object-page {
      .object-page__content {
        lost-column: 1/2;
      }

      .object-page__bottom-content {
        lost-column: 1/2;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    // set page
    .set-page {
      .container {
        padding-left: $spacing-sm !important;
      }

      .content-header {
        lost-column: 2/5;
      }

      .main-content {
        lost-column: 3/5;

        .set-page__content > .item-tile {
          lost-column: 1/2;
        }
      }
    }

    // object page - ipad
    .object-page {
      .content-header {
        lost-column: 2/5;
        lost-move: 3/5;
      }

      .main-content {
        padding-left: $spacing-md;
        lost-column: 3/5;
        lost-move: -2/5;
      }

      hr { lost-utility: clearfix; }

    }

    // about page
    .about-page {
      .container {
        padding: $spacing-md 0 0 0 !important;
      }

      .content-header {
        lost-column: 3/5;
        lost-move: 2/5;
      }

      .main-content {
        padding-left: $spacing-md;
        lost-column: 2/5;
        lost-move: -3/5;
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    // general pages
    .content-header {
    	lost-column: 2/5;
    }

    .main-content {
      lost-column: 3/5;
    }

    // set page
    .set-page {
      .container {
        padding-left: $spacing-sm !important;
      }
    }
	}
