///
/// MAAS Gallery Guide - Page styles
/// developer@maas.museum
///

/* Page */
  @import '../core/variables.scss';

// MSIE: Required for IEMobile.
  @-ms-viewport {
    width: device-width;
  }

// MSIE: Prevents scrollbar from overlapping content.
  body {
    -ms-overflow-style: scrollbar;
  }

  body {
		// Prevents animation/transition "flicker" on page load.
		// Automatically added/removed by js/main.js.
		&.is-loading {
			*, *:before, *:after {
				@include vendor('animation', 'none !important');
				@include vendor('transition', 'none !important');
			}
		}
	}

  /*------------------------------------*\
      #ALL-PAGE
  \*------------------------------------*/

  /* Body */
  .all-page__body {
    lost-utility: clearfix;

    min-height: 20em;
    padding-top: $spacing-md;
  }

  .all-page__content-title {
    float: left;
  }


  .all-page__content {
    lost-utility: clearfix;
  }


  /*------------------------------------*\
      #CONTENT
  \*------------------------------------*/

  .content-header {
    padding-bottom: 1em;
  }

  @media (min-width: $screen-lg-min) {
    // general pages
    .content-header {
    	lost-column: 1/3;
    }

    .main-content {
      lost-column: 2/3;
    }

    // about page
    .about-page {
      .container {
        padding: 0 !important;
      }

      .content-header {
        lost-column: 2/3;
        lost-move: 1/3;
      }

      .main-content {
        lost-column: 1/3;
        lost-move: -2/3;
      }
    }
	}
