@font-face {
  font-family: 'Circular-Pro-Book';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Circular-Pro-Book.woff") format("woff"),
       url("../fonts/Circular-Pro-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-BookItalic';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Circular-Pro-BookItalic.woff") format("woff"),
  url("../fonts/Circular-Pro-BookItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-Medium';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Circular-Pro-Medium.woff") format("woff"),
       url("../fonts/Circular-Pro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-MediumItalic';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Circular-Pro-MediumItalic.woff") format("woff"),
       url("../fonts/Circular-Pro-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-Bold';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Circular-Pro-Bold.woff") format("woff"),
       url("../fonts/Circular-Pro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-BoldItalic';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Circular-Pro-BoldItalic.woff") format("woff"),
  url("../fonts/Circular-Pro-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-Black';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Circular-Pro-Black.woff") format("woff"),
       url("../fonts/Circular-Pro-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Circular-Pro-BlackItalic';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Circular-Pro-BlackItalic.woff") format("woff"),
       url("../fonts/Circular-Pro-BlackItalic.ttf") format("truetype");
}
