///
/// MAAS Gallery Guide - footer styles
/// developer@maas.museum
///

// @import '../../core/variables.scss';

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
  padding-top: 1em;
  // padding-bottom: 1em;
  // background-color: $colour-black;
  // font-size: $font-size-lg;
  // color: $colour-black;
  // text-align: left;
  // flex: none;
  //

  // h3 {
  //   font-family: "Circular-Bold", sans-serif;
  //   font-size: $font-size-md;
  //   line-height: $line-height-md;
  //   margin: 0;
  // }

  // a:link,
  // a:visited {
  //   color: $colour-pink;
  // }

  // @media (min-width: $screen-sm-min) {
  //   font-size: $font-size-md;
  // }

  .footer-content__acknowledgment {
    padding-top: 1em;
    font-size: 0.8em;
  }

  .footer-content__acknowledgment-title {
    font-family: $font-family-bold;
  }

  .footer-content__navigation-container {
    display: flex;
    justify-content: center;
  }

  .footer-content__navigation {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: block;
    text-align: center;
    font-size: $font-size-sm;

    @media (min-width: $screen-sm-min) {
      display: flex;
    }

    .menu-item {
      display: inline-block;
      margin-bottom: $spacing-sm;
      padding-right: $spacing-md;
      padding-left: $spacing-md;
      border-right: 1px solid $colour-grey-darkest;

      &:last-child {
        border-right: none;
      }
    }
  }
}
