/*------------------------------------*\
    #HEADER
\*------------------------------------*/

@import '../../core/variables.scss';

.header {
  // position: relative;
  // z-index: 60;
  // padding: 0;
  // display: flex;
  // flex-direction: column;
  // align-items: baseline;
  // flex: none;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.08);

  @media (min-width: $screen-md-min) {
    .header__wrapper {
      margin: 0 auto;
      overflow: hidden;
      padding-right: 0 !important;
      // max-width: $container-width-md;
    }
  }

  nav.header__navigation {

    a.menu-links {
      display: inline-block;
      float: left;
      text-decoration: none;

      > h1 {
        color: inherit;
        line-height: 1;
        margin: 0;
        overflow: hidden;

        > span {
          border-right: 1px solid rgba(0,0,0,0.3);
          line-height: 1;
        }
      }

      // image logo - for smaller screens
      @media (max-width: $screen-md-min) {
        > img {
          width: 20px;
          height: 20px;
        }
      }
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      > li {
        float: right;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {

  .header {
    border: none !important;
  }

  .header nav.header__navigation > ul {
    padding-top: 1em;
    float: left;
  }

  .header nav.header__navigation > ul > li {
    float: left;
  }

  .header__navigation-button > a {
    float: left !important;
    h1 > span {
      margin-left: 0 !important;
      border-right: none !important;
    }
  }
}

/*
.header__navigation {
  display: flex;
  justify-content: flex-end;
  lost-utility: clearfix;
  text-align: center;
  width: 100%;
  margin-bottom: $spacing-md;
  padding-top: $spacing-xxxs;
  border-top: $border-normal;

  @media(min-width: $screen-md-min) {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: calc($spacing-md * -4);
    width: auto;
    border-top: none;
    padding-top: 0;
  }
}

header__navigation-button  {
  display: block;
  font-size: $font-size-lg;
  width: 25%;
  transition: 0.3s;

  @media(min-width: $screen-xs-min) {
    width: auto;
    padding-right: $spacing-xlg;

    &:last-child {
      padding-right: 0;
    }
  }

  @media(min-width: $screen-md-min) {
    font-size: $font-size-md;
    padding-right: 0;
    padding-bottom: $spacing-xs;
  }
}*/
