///
/// MAAS Gallery Guide - blockquote styles
/// developer@maas.museum
///

@import '../../core/variables.scss';

/*------------------------------------*\
    #blockquote
\*------------------------------------*/

.object-page__notes3 {
  font-size: 1.2em;
  padding-top: 0.6em;
  blockquote {
    padding: 36px 0px;
    font-size: 1.3em;
    position: relative;
    background: $colour-white;
    margin-bottom: 28px;
    &::before {
      top: 0;
      left: -35px;
      content: '“';
      font-size: 2em;
      position: absolute;
    }
    &::after {
      right: 0.1em;
      content: '”';
      bottom: -22px;
      font-size: 2em;
      position: absolute;
    }
    p {
      margin: 0;
      // font-style: italic;
      font-family:  $font-family-bold;
    }
  }
}

.object-page__notes4 {
  font-family:  $font-family-bold;
  font-size: $font-size-lg;
  padding-left: 0.6em;
  p {
    font-family: $font-family-base;
    font-size: $font-size-sm;
    margin: 0;
  }
}
