@import '../../core/variables.scss';

/*------------------------------------*\
    #SEEN-ICON
\*------------------------------------*/

.seen-icon, .quote-icon {
  line-height: 0;
  margin-top: 0.333rem;
  margin-right: 0.2rem;
}