@import '../../core/variables.scss';

/*------------------------------------*\
    #SEEN-ICON
\*------------------------------------*/

.seen-icon {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  margin-top: 0.333rem;
  margin-right: 0.2rem;
}